body{
    display: flex;
    flex-direction: column;
    margin: 0;
}
a{
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}
.section-one{   
    display: flex;
    flex-direction: column;
    background: #1F2937;
    padding: 100px;
  
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    padding-top: 0;
    padding-right: 100px;
}
.main-one{
    display: flex;
    align-items: top;
    padding-top: 0;
}
.container-one{
    display: flex;
    flex-direction: column;
    width: 550px;
    padding: 50px;
}
.img-one{
    display: flex;
    padding: 50px;
    width: 550px;
    height: 250px;
    flex-wrap: wrap;
}
.header-text{
    font-size: 24px;
    color: #F9FAF8;
}
ul{
    display: flex;
    align-items: center;
    list-style: none;
}
li{
    padding: 10px;
    gap: 10px;
}
.title-one{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.text-one{
    font-size: 18px;
    color: #E5E7EB;
}
button{
    color: white;
    background-color: #3882F6;
    border: none;
    border-color: #3882F6;
    border-radius: 4px;
    width: 75px;
    height: 25px;
}
